<%= f.input :command_center_id, autofocus: true, collection: CommandCenter.all.order(name: :asc), include_blank: false %>
<%= f.input :covid_general_practitioner, as: :text %>

<fieldset class="form-group">
  <legend><%= t('simple_form.fieldsets.patient_form.contact_informations') %></legend>

  <%= f.input :last_name %>
  <%= f.input :first_name %>
  <%= f.input :address, as: :text %>
  <%= f.input :cellphone_number %>
  <%= f.input :email %>
  <%= f.input :relative_cellphone_number %>
  <%= f.input :general_practitioner, as: :text %>
  <hr/>
</fieldset>

<fieldset class="form-group">
  <legend><%= t('simple_form.fieldsets.patient_form.patient_informations') %></legend>

  <%= f.input :gender, as: :select, collection: Patient.enum_filter_collection(:genders) %>
  <%= f.input :birthdate, input_html: {data: {controller: "flatpickr"}} %>
  <%= f.input :is_healthcare_professional, as: :select %>
  <%= f.input :pregnant, as: :select %>
  <%= f.input :pregnant_since_in_weeks, as: :integer %>
  <%= f.input :notable_long_term_treatments, as: :text %>
  <hr/>
</fieldset>

<fieldset class="form-group">
  <legend><%= t('simple_form.fieldsets.patient_form.comorbidities') %></legend>

  <div class="row">
    <div class="col-sm">
      <%= f.input :comorbidity_chronic_cardiac_disease, as: :radio_buttons %>
      <%= f.input :comorbidity_chronic_pulmonary_disease, as: :radio_buttons %>
      <%= f.input :comorbidity_asthma, as: :radio_buttons %>
      <%= f.input :comorbidity_chronic_kidney_disease, as: :radio_buttons %>
      <%= f.input :comorbidity_liver_disease, as: :radio_buttons %>
      <%= f.input :comorbidity_mild_liver_disease, as: :radio_buttons %>
      <%= f.input :comorbidity_chronic_neurological_disorder, as: :radio_buttons %>
      <%= f.input :comorbidity_malignant_neoplasia, as: :radio_buttons %>
      <%= f.input :comorbidity_chronic_hemathological_disease, as: :radio_buttons %>
      <%= f.input :comorbidity_hiv, as: :radio_buttons %>
    </div>
    <div class="col-sm">
      <%= f.input :comorbidity_obesity, as: :radio_buttons %>
      <%= f.input :comorbidity_diabetes_with_complications, as: :radio_buttons %>
      <%= f.input :comorbidity_diabetes, as: :radio_buttons %>
      <%= f.input :comorbidity_rheumatologic_disease, as: :radio_buttons %>
      <%= f.input :comorbidity_dementia, as: :radio_buttons %>
      <%= f.input :comorbidity_malnutrition, as: :radio_buttons %>
      <%= f.input :comorbidity_smoking, as: :radio_buttons, collection: Patient.enum_filter_collection(:comorbidity_smokings) %>
      <%= f.input :comorbidity_other, as: :radio_buttons %>
      <%= f.input :comorbidity_other_comment, as: :text %>
    </div>
  </div>
  <hr/>
</fieldset>

<fieldset class="form-group">
  <legend><%= t('simple_form.fieldsets.patient_form.covid_informations') %></legend>
  <%= f.input :covid_initial_symptom, as: :select, collection: Patient.enum_filter_collection(:covid_initial_symptoms) %>
  <%= f.input :covid_initial_symptoms_started_on, input_html: {data: {controller: "flatpickr"}} %>
  <%= f.input :covid_initial_symptoms_diagnosed_on, input_html: {data: {controller: "flatpickr"}} %>
  <%= f.input :interstitial_alveolus_infiltrates, as: :select %>
  <%= f.input :sars_cov_2_treatment, as: :select %>
  <%= f.input :sars_cov_2_treatment_name, as: :text %>
  <%= f.input :covid_treatment_started_on, input_html: {data: {controller: "flatpickr"}} %>
  <%= f.input :home_caregivers, as: :select %>
  <%= f.input :home_caregivers_type %>
  <hr/>
</fieldset>

<%= t('simple_form.messages.patient_form.home_follow_up_elligible_criterias_html') %>

<%= f.input :home_follow_up_elligible, as: :select %>