<%= render layout: '/shared/public_forms_outside_active_admin', locals: {title: "Questionnaire de suivi à domicile - Coronavirus Covid 19"} do %>

  <div class="alert alert-info" role="alert">
    Ce court questionnaire permet de suivre l’évolution de vos symptômes. Toutes les données sont revues par des équipes soignantes. Ce questionnaire sera répété régulièrement.
    <br/>
    <br/>
    <strong>En cas d’urgence, vous pouvez contacter l’équipe médicale via le +33 7 57 91 69 11 ou le SAMU centre 15.</strong>
  </div>

  <hr/>

  <%= simple_form_for(@form, method: :patch, url: standard_survey_path(id: @form.standard_survey.public_token)) do |f| %>
    <%= f.input :otp, as: :hidden %>

    <%= f.input :cohabitants_recent_change, autofocus: true, as: :radio_buttons %>
    <%= f.input :body_temperature, as: :float %>

    <p>
      <a href="https://www.ameli.fr/assure/sante/bons-gestes/petits-soins/prendre-temperature" target="_blank">Comment prendre sa température ?</a>
    </p>

    <%= f.input :breathing_difficulty_borg_scale, as: :select, include_blank: false, collection: StandardSurvey.enum_filter_collection(:breathing_difficulty_borg_scales) %>
    <%= f.input :heartbeats_per_minute, as: :integer %>

    <p>
      <a href="https://fr.wikihow.com/mesurer-votre-pouls" target="_blank">Comment mesurer sa fréquence cardiaque ?</a>
    </p>

    <%= f.input :respiratory_rate_in_cycles_per_minute, as: :integer %>
    <%= f.input :recent_cold_chill, as: :radio_buttons %>
    <%= f.input :recent_chest_pain, as: :radio_buttons %>
    <%= f.input :agreed_containment, as: :radio_buttons %>
    <%= f.input :agreed_containment_comment, as: :text %>

    <%= f.button :submit, value: "Valider", data: { disable_with: "Validation en cours ..." }, class: "btn btn-primary" %>
  <% end %>
<% end %>