<%= render layout: '/shared/public_forms_outside_active_admin', locals: {title: t('simple_form.titles.update_standard_survey_form')} do %>

  <div class="alert alert-info" role="alert">
    <%= t('simple_form.messages.update_standard_survey_form.intro_html') %>
  </div>

  <hr/>

  <%= simple_form_for(@form, method: :patch, url: standard_survey_path(id: @form.standard_survey.public_token)) do |f| %>
    <%= f.input :otp, as: :hidden %>

    <%= f.input :cohabitants_recent_change, autofocus: true, as: :radio_buttons %>
    <%= f.input :body_temperature, as: :float %>

    <%= t('simple_form.messages.update_standard_survey_form.body_temperature_instructions_html') %>

    <%= f.input :breathing_difficulty_borg_scale, as: :select, include_blank: false, collection: StandardSurvey.enum_filter_collection(:breathing_difficulty_borg_scales) %>
    <%= f.input :heartbeats_per_minute, as: :integer %>

    <%= t('simple_form.messages.update_standard_survey_form.heartbeats_per_minute_instructions_html') %>

    <%= f.input :respiratory_rate_in_cycles_per_minute, as: :integer %>
    <%= f.input :recent_cold_chill, as: :radio_buttons %>
    <%= f.input :recent_chest_pain, as: :radio_buttons %>
    <%= f.input :agreed_containment, as: :radio_buttons %>
    <%= f.input :agreed_containment_comment, as: :text %>

    <%= f.button :submit, value: t('simple_form.actions.update_standard_survey_form.submit'), data: { disable_with: t('simple_form.actions.update_standard_survey_form.disable_with') }, class: "btn btn-primary" %>
  <% end %>
<% end %>